<body style="font-family: Arial, Helvetica, sans-serif;">
    <div style="margin-top: 15%;">
        <h1 class="d-flex justify-content-center"> <strong>All done!</strong> Have a good day.</h1>
        <h4 class="d-flex justify-content-center">Want to login again?</h4>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/" class="btn btn-outline-dark" role="button" aria-pressed="true">Login</a>
    </div>
</body>