<body style="font-family: Arial, Helvetica, sans-serif;">
    <main>
        <div class="ml-2">
            <div class="px-2" style="margin-top: 20%;">
                <h4 style="margin-left: 30%;">Sorry, you are not allowed to access this page. Please login.</h4>
                <a href="/" class="btn btn-outline-dark" role="button" aria-pressed="true"
                    style="margin-left: 45%;">Click
                    Here To
                    Login</a>
            </div>
        </div>
    </main>
</body>