<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Show Finder</title>
    <link rel="stylesheet" href="/public/main.css">
    <link rel="shortcut icon" type="image/jpg" href="http://localhost:3000/public/logo.png">
</head>

<body>
    <header>
        <a href="http://localhost:3000/"> <img src="/public/logo.png" class="logo" alt=""></a>
        {{!-- <h1>Show Finder</h1> --}}
    </header>
    <main>
        <p>This site will help you explore various shows and movies from TV MAZE API. You can search by search term.
        </p>
        {{{body}}}
        <footer>
            <div></div>
        </footer>

    </main>
    {{!-- <footer>I'm a footer</footer> --}}
</body>

</html>