<article class="search-form">
    <form action="/search" method="POST" class="new-post-form">
        <label class="title">Search Here</label>
        {{!-- <h2 class="title"></h2> --}}
        <br>
        <br>
        <input type="text" placeholder="Type Here" name="searchTerm" class="input" />
        <br>
        <button type="submit" class="button" style="vertical-align:middle"><span>Find Now</span></button>
    </form>
</article>